header {
    height: 80px;
    background-color: antiquewhite;
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 99; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gnb {
    width: 780px;
    height: 100%;
    background-color: sandybrown;
    font-size: 20px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}

.login {
    margin-left: 95px;
}

.login>a:nth-child(2) {
    display: none;
}

/* header end */

.section_1 {
    height: 100vh;
}

.section_1>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sec_1_text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.sec_1_text>h2 {
    font-size: 50px;
    margin-bottom: 10px;
}

.sec_1_text>p {
    font-size: 20px;
}

/* section_1 end */

.section_2 .con {
    width: 31.5%;
}

.section_2 .con>p {
   text-align: center;
    font-size: 18px;
    margin-top: 1.1vw;
}

.section_2 .sub_title {
    display: none;
}

/* section_2 end */

.sec_3_left {
    width: 50%;
    padding: 8.85vw 9.5% 7.3vw 9.5%;
}

.section_3 .sec_title {
    margin-bottom: 3.8vw;
}

.sec_3_con {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.sec_3_img {
    border-radius: 1.04vw;
    overflow: hidden;
}

.sec_3_con p {
    display: block;
    font-weight: 900;
}

.sec_3_con p:first-of-type {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}
.sec_3_right {
    width: 50%;
    background-image: url(../img/roundhill_right_02_abzimK1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* section_3 end */
.section_4 {
    justify-content: space-between;
}

.sec_4_left {
    width: 33%;
    border-top: 3px solid #f7decb;
}

.sec_4_left>.sec_title>h3 {
    padding-top: 1.3vw;
}

.sec_4_right {
    width: 63%;
}

.sec_4_right>.con {
    width: 47%;
    margin-bottom: 3vw;
    border-top: 3px solid #f7decb;
}

.sec_4_right h5 {
    font-size: 20px;
}

.sec_4_right>.con>h5 {
    color: #ff6400;
    margin-top: 1.6vw;
    margin-bottom: 1.2vw;
}

.sec_4_text {
    display: flex;
    justify-content: space-between;
}

.sec_4_text>div:nth-child(1) {
    width: 77%;
}

.sec_4_text>div:nth-child(1)>h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}



.sec_4_text>div:nth-child(1)>p {
    font-size: 15px;
    color: #999;
    margin-top: 0.8vw;
    line-height: 22px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}

.sec_4_text>div:nth-child(2) {
    /* width: 12%; */
    font-size: 14px;
}





/* 1200 media */
@media screen and (max-width: 1200px) {
    .section_2 .con>p {
        font-size: 16px;
        margin-top: 1.5vw;
    }

    .section_2 .con>.sub_title {
        display: block;
        font-size: 12px;
        margin-top: 1vw;
    }
    
    /* section_2 end */

    .sec_3_left {
        padding: 10.85vw 5.5% 10.3vw 5.5%;
    }

    .sec_3_con p {
        font-size: 15px;
    }

    .sec_3_con .sub_title {
        font-size: 13px;
    }

    .section_4 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sec_4_left {
        border: 0;
    }

    .sec_4_right {
        width: 100%;
    }

    .sec_4_text>div:nth-child(1) {
        width: 85%;
    }

    .sec_title>h3 {
        letter-spacing: 0.1px;
    }

    .sec_4_text>div:nth-child(1)>h5 {
        font-size: 15px;
    }

    .sec_4_text>div:nth-child(1)>p {
        font-size: 13px;
        margin-bottom: 8vw;
    }
}

/* 1200 media end */

/* 1179 media */
@media screen and (max-width: 1179px) {
    header {
        height: 8.5vw;
    }

    .logo {
        width: 12%;
    }

    .gnb {
        display: none;
    }

    .login {
        display: flex;
        justify-content: space-between;
        width: 10%;
        background-color: salmon;
    }

    .login>a:nth-child(1) {
        width: 35%;
    }

    .login>a:nth-child(2) {
        display: block;
        width: 41%;
        background-color: forestgreen;
    }
}

/* 767 media */
@media screen and (max-width: 767px) {
    header {
        height: 14.5vw;
    }

    .logo {
        width: 23%;
    }
    
    .login {
        width: 19%;
    }

    /* header end */

    .sec_1_text {
        width: 80%;
    }

    .sec_1_text>h2 {
        font-size: 32px;
        line-height: 37px;
    }

    .sec_1_text>p {
        font-size: 16px;
        line-height: 24px;
    }

    /* .section_1 end */

    .section_2 .con {
        width: 100%;
        margin-bottom: 12vw;
    }

    .section_2 .con>p {
        margin-top: 3.5vw;
        font-size: 18px;
    }

    .section_2 .con>.sub_title {
        margin-top: 2vw;
        font-size: 15px;
    }

    /* section_2 end */

    .sec_3_left {
        width: 100%;
        padding: 25vw 8%;
    }

    .section_3 .sec_title {
        margin-bottom: 9.5vw;
    }

    .sec_3_con {
        width: 100%;
    }

    .sec_3_img {
        border-radius: 4.04vw;
    }

    .sec_3_con p:first-of-type {
        margin-top: 3.5vw;
        margin-bottom: 1.5vw;
    }

    .sec_3_right {
        display: none;
    }

    /* section_3 end */

    .sec_4_left>.sec_title>p {
        margin-bottom: 7vw;
    }

    .sec_4_right>.con {
        width: 100%;
    }

    .sec_4_right>.con>h5 {
        margin: 5vw 0;
    }

    .sec_4_text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sec_4_text>div:nth-child(1)>h5 {
        font-size: 18px;
        margin-bottom: 3vw;
    }

    .sec_4_text>div:nth-child(1)>p {
        font-size: 15px;
        margin-bottom: 5vw;
    }

    .sec_4_text>div:nth-child(2) {
        margin-bottom: 20vw;
    }

}
/* 767 media end */