body {
    color: #323232;
}

.wrap {
    width: 100%;
}

header, section, footer {
    width: 100%;
    position: relative;
}

header, footer {
    padding: 0 56px;
}

.section_2, .section_4 {
    padding: 7.3vw 9.5%;
    background-color: rgb(253, 248, 245);
}

.section_3, .section_4 {
    display: flex;
}

.sec_title {
    margin-bottom: 2.1vw;
}

.sec_title>h3 {
    font-size: 28px;
    margin-bottom: 0.63vw;
}

.sec_title>p {
    font-size: 19px;
    font-weight: 900;
}

.con_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}







/* 1200 media */
@media screen and (max-width: 1200px) {
    .section_2, .section_4 {
        padding: 8.3vw 3.5%;
    }

    .sec_title {
        margin-bottom: 4vw;
    }

    .sec_title>h3 {
        font-size: 22px;
        margin-bottom: 1.3vw;
    }
    
    .sec_title>p {
        font-size: 14px;
        font-weight: 900;
    }

    /* .section_2 end */

    
}
/* 1200 media end */

/* 1179 media */
@media screen and (max-width: 1179px) {
    header, footer {
        padding: 0 4%;
    }
}

/* 767 media */
@media screen and (max-width: 767px) {
    header, footer {
        padding: 0 5.5%;
    }
    .section_2, .section_4 {
        padding: 14.3vw 4.5%;
    }

    .sec_title {
        margin-bottom: 7vw;
    }

    .sec_title>h3 {
        margin-bottom: 3vw;
    }
    
    .sec_title>p {
        font-size: 16px;
    }
}
/* 767 media end */