* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    display: block;
}

img {
    display: block;
    border: 0;
    width: 100%;
}

ul {
    list-style: none;
}